<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="bakuWarehouse" class="org.example.tutorials.dtos.Warehouse" >
        <property name="location" value="Bakı, Nərimanov r." />
    </bean>

    <bean id="bakuWarehouse1" class="org.example.tutorials.dtos.Warehouse">
        <property name="location" value="Elmler" />
    </bean>

    <bean id="enginePart" class="org.example.tutorials.dtos.Part" scope="singleton">
        <property name="name" value="V6 Mühərrik" />
        <property name="warehouse" ref="bakuWarehouse1" />
    </bean>

</beans>